<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <aspNetCore>
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development[staging/Prod]" />
            </environmentVariables>
        </aspNetCore>
        <directoryBrowse enabled="false" />
        <modules>
            <remove name="AspNetCoreModuleV2" />
            <add name="AspNetCoreModuleV2" />
        </modules>
    </system.webServer>
</configuration>
